* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f6f6fe;
}

.main-container {
  height: 100vh;
  padding: 40px 20px;
  background-image: url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-position:
    top right,
    bottom left;
}

.title {
  text-align: center;
  color: #6d708d;
  margin-bottom: 20px;
  font-size: 28px;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  color: #b3b5c6;
  font-weight: 600;
}

/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.card-container {
  height: 600px;
  overflow: auto;
}

.card-container::-webkit-scrollbar {
  display: none;
}

/* CARDS */
.card {
  background: white;
  border-radius: 12px;
  padding: 30px 25px;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.card h3 {
  color: #6d708d;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 40px;
  color: #4a4d60;
  margin-bottom: 20px;
}

.card p {
  padding: 12px 0;
  color: #6d708d;
  font-weight: 600;
}

.card hr {
  border: none;
  border-top: 1px solid #e4e4ef;
}

/* Buttons */
.card button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: white;
}

.professional {
  background: linear-gradient(to bottom, #a3a8f0, #696fdd);
  color: white;
}

.professional h3,
.professional h2,
.professional p {
  color: white;
}

.professional hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.professional button {
  background: white;
  color: #696fdd;
}
